In [1]:
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd
import numpy as np

data = {
    "Transaction_ID":[i for i in range (1,11)],
    "Items":[["A", "B", "C", "D"],
             ["A", "B", "D", "E"],
             ["B", "C", "D", "F"],
             ["A", "C", "E", "F"],
             ["B", "D", "E", "F"]]
}

In [3]:
dummy = np.array(["A","B","C","D","E","F", "G"])

In [21]:
data = {
    "Transaction_ID":[i for i in range (1,11)],
    "Items": [list(np.random.choice(dummy, np.random.randint(3,5))) for i in range(10)]
}

In [22]:
data

{'Transaction_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'Items': [['C', 'A', 'B'],
  ['F', 'F', 'F', 'F'],
  ['F', 'D', 'B', 'F'],
  ['D', 'C', 'E'],
  ['B', 'E', 'F', 'C'],
  ['C', 'C', 'C'],
  ['E', 'B', 'D'],
  ['F', 'C', 'B', 'E'],
  ['B', 'B', 'A'],
  ['A', 'E', 'F']]}

In [23]:
df = pd.DataFrame(data)

In [24]:
df.head()

   Transaction_ID         Items
0               1     [C, A, B]
1               2  [F, F, F, F]
2               3  [F, D, B, F]
3               4     [D, C, E]
4               5  [B, E, F, C]

In [25]:
df["Items"] = df["Items"].apply(lambda x: " ".join(map(str,x)))

In [37]:
df.head()

   Transaction_ID    Items
0               1    C A B
1               2  F F F F
2               3  F D B F
3               4    D C E
4               5  B E F C

In [38]:
onhe = pd.get_dummies(df["Items"].str.split(expand=True).stack(), dtype=int)

In [39]:
onhe

     A  B  C  D  E  F
0 0  0  0  1  0  0  0
  1  1  0  0  0  0  0
  2  0  1  0  0  0  0
1 0  0  0  0  0  0  1
  1  0  0  0  0  0  1
  2  0  0  0  0  0  1
  3  0  0  0  0  0  1
2 0  0  0  0  0  0  1
  1  0  0  0  1  0  0
  2  0  1  0  0  0  0
  3  0  0  0  0  0  1
3 0  0  0  0  1  0  0
  1  0  0  1  0  0  0
  2  0  0  0  0  1  0
4 0  0  1  0  0  0  0
  1  0  0  0  0  1  0
  2  0  0  0  0  0  1
  3  0  0  1  0  0  0
5 0  0  0  1  0  0  0
  1  0  0  1  0  0  0
  2  0  0  1  0  0  0
6 0  0  0  0  0  1  0
  1  0  1  0  0  0  0
  2  0  0  0  1  0  0
7 0  0  0  0  0  0  1
  1  0  0  1  0  0  0
  2  0  1  0  0  0  0
  3  0  0  0  0  1  0
8 0  0  1  0  0  0  0
  1  0  1  0  0  0  0
  2  1  0  0  0  0  0
9 0  1  0  0  0  0  0
  1  0  0  0  0  1  0
  2  0  0  0  0  0  1